<div class="container-fluid">
    <div class="row m-b-lg">
        <div class="col-md-12">
            <!--<alert type="success">Welcome To Kasivibe! Share, comment and rate music.</alert>-->
            <h3 class="text-center m-t-lg">Share your album</h3>
            <p class="text-center">Share your new albums and connect with your fans.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">


            <form [formGroup]="albumForm" (ngSubmit)="createAlbum()" class="song-create-form" enctype="multipart/form-data">

                <div class="form-group required"
                     [ngClass]="{'has-error has-feedback':!albumForm.controls['name'].valid && albumForm.controls['name'].touched}">
                    <input type="text" class="form-control" placeholder="Album name"
                           formControlName="name">
                    <span *ngIf="!albumForm.controls['name'].valid && albumForm.controls['name'].touched"
                          class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span *ngIf="!albumForm.controls['name'].valid && albumForm.controls['name'].touched"
                          class="help-block">The album name must have at least 3 characters.</span>
                </div>

                <div>
                    <label class="btn btn-default"> <i class="fa fa-file-image-o"></i> Select Cover Picture
                        <input style="display: none" (change)="fileChange($event)" type="file" formControlName="file">
                    </label>
                </div>


                <div class="checkbox">
                    <label>
                        <input formControlName="active" type="checkbox"> Active
                    </label>
                </div>

                <div class="clearfix">
                    <div class="pull-right">
                        <button type="submit" [disabled]="!albumForm.valid" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>