.release_status {
    font-size: 10px;
    position: absolute;
    bottom: 3px;
    margin-left: -4px;
    color: #999999;
}

.navbar {
    margin: 0;
    border-radius: 0;
    border: none;
}

.navbar-nav .active {
    font-weight: bold;
    background: rgba(255, 255, 255, .1);
    color: #ffffff;
}

.header-btn {
    padding: 12px;
}

.header-btn .btn-link {
    text-decoration: none;
}

.profile_icon button {
    padding: 0;
}

@media screen and (max-width: 479px) {
    .navbar-inverse {
        background-color: red;
        border-color: #080808;
    }
    .navbar-header {
        display: flex;
    }
    .main-logo {
        align-self: center;
        text-align: center;
        flex: 1;
    }
    .toggle-menu, .toggle-search {
        font-size: 20px;
        padding: 20px 25px;
    }
    .toggle-menu:active, .toggle-search:active {
        background-color: #e00000;
    }
}