<div class="kv-col-cont">
    <!--<div class="kv-col-1">{{ song.id }}</div>-->
    <div class="kv-col-2">
        <div class="kv-media-image">
            <img *ngIf="song.album" width="64" height="64" class="img-rounded"
                 src="{{song.album.image}}" alt="{{song.name}}">
            <div [ngStyle]="{'display': isActiveSong ? 'block':''}"
                 class="kv-media-image-overlay img-rounded">
                <app-play-button (onStatus)="setAudioStatus($event)" (onActive)="setActiveSong($event)" [song]="song"></app-play-button>
            </div>
        </div>
        <div class="kv-media-content">
            <div>
                <h6>
                    <a routerLink="/songs/{{ song.slug }}" class="kv-color-default">{{ song.name }}</a>
                    <app-audio-visualization *ngIf="isActiveSong" [status]="audioStatus" class="m-l-xs" [ngStyle]="{'display':isPlaying()?'inline':'none'}"></app-audio-visualization>
                </h6>
                <div>
                    <small *ngIf="song.user.artist_name"><i class="icon-cloud-upload" title="Uploaded by {{ song.user.username }}"></i> {{ song.user.artist_name }}</small>
                    <small *ngIf="! song.user.artist_name && !song.is_admin"><i class="icon-cloud-upload" title="Uploaded by {{ song.user.username }}"></i> {{ song.user.username }}
                    </small>
                    <small *ngIf="! song.user.artist_name && song.is_admin">Uploaded by You</small>
                </div>
                <div>
                    <small *ngIf="song.plays_count == 1">{{ song.plays_count }} Play &middot; </small>
                    <small *ngIf="song.plays_count != 1">{{ song.plays_count }} Plays &middot; </small>
                    <small *ngIf="song.comments_count  == 1">{{ song.comments_count }} Comment
                        &middot;
                    </small>
                    <small *ngIf="song.comments_count  != 1">{{ song.comments_count }} Comments
                        &middot;
                    </small>
                    <small *ngIf="song.likes_count == 1">{{ song.likes_count }} Like</small>
                    <small *ngIf="song.likes_count != 1">{{ song.likes_count }} Likes</small>
                    <small *ngIf="song.is_liked"> &middot; <span
                            class="text-success">You Like this</span></small>
                </div>
            </div>
            <div class="controls pull-right">
                <a *ngIf="song.is_admin" routerLink="/songs/{{ song.slug }}/edit"
                   class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Edit</a>
            </div>
        </div>
    </div>
</div>