.kv-col-cont {
    display: flex;
}

.kv-col-cont .kv-col-1 {

}

.kv-col-cont .kv-col-2 {
    flex: 1;
    display: flex;
}

.kv-media-image {
    position: relative;
}

.kv-media-image > .kv-media-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .5);
    font-size: 30px;
    line-height: 2.2;
    display: none;
    cursor: pointer;
}

.kv-col-cont:hover .kv-media-image > .kv-media-image-overlay {
    display: block;
}

.kv-media-content {
    flex: 1;
}

.kv-media-content > * {
    display: inline-block;
}

.kv-media-content > div {
    margin-left: 10px;
}

.kv-media-content h6 {
    margin: 3px 0 5px;
}

.list-group-item:nth-of-type(even) {
    /*background-color: #333333;*/
}

.list-group-item:hover {
    background-color: #1b1b1b;
}
