<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--<alert type="success">Welcome To Kasivibe! Share, comment and rate music.</alert>-->
            <h3 class="text-center m-t-lg">Upload Song</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <br>
            <br>
            <div *ngIf="!file" class="drop-zone"
                 (click)="nativeUploadInput.click()"
                 ngFileDrop
                 (uploadOutput)="onUploadOutput($event)"
                 [uploadInput]="uploadInput"
                 [ngClass]="{ 'is-drop-over': dragOver }">
                <div class="placeholder">Drag & drop or Select audio file</div>
            </div>
            <input style="display: none" #nativeUploadInput type="file" ngFileSelect
                   (uploadOutput)="onUploadOutput($event)"
                   [uploadInput]="uploadInput">


            <div *ngIf="file" class="progress-container">
                <div>
                    Upload progress: <span class="filename">{{ file.name }}</span>
                    <span class="progress-data">{{ file.progress.data.percentage }}% at {{ file.progress.data.speedHuman }} eta {{ file.progress.data.eta }}</span>
                </div>
                <div class="progress" style="margin-top: 5px">
                    <div class="progress-bar" role="progressbar"
                         [ngStyle]="{ 'width': file.progress.data.percentage + '%' }"></div>
                </div>
            </div>

            <!--<div  *ngIf="files?.length" class="m-t-md">-->
            <div class="m-t-md">
                <form [formGroup]="songForm" (ngSubmit)="createSong()" class="song-create-form">
                    <tabset>
                        <tab heading="Basic Info">
                            <div class="form-group required"
                                 [ngClass]="{'has-error has-feedback':!songForm.controls['name'].valid && songForm.controls['name'].touched}">
                                <input type="text" class="form-control" placeholder="Song name"
                                       formControlName="name"
                                       required>
                                <span *ngIf="!songForm.controls['name'].valid && songForm.controls['name'].touched"
                                      class="glyphicon glyphicon-remove form-control-feedback"></span>
                                <span *ngIf="!songForm.controls['name'].valid && songForm.controls['name'].touched"
                                      class="help-block">The song name must have at least 2 characters.</span>
                            </div>


                            <div class="form-group">
                                <select class="form-control"
                                        formControlName="genre_id"
                                        required>
                                    <option value="">Select Genre</option>
                                    <option *ngFor="let genre of genres" [ngValue]="genre.id">{{ genre.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control"
                                        formControlName="album_id"
                                        required>
                                    <option value="">Select Album</option>
                                    <option value="2">Select Album</option>
                                    <option *ngFor="let album of albums" [ngValue]="album.id">{{ album.name }}</option>
                                </select>
                            </div>
                        </tab>
                        <tab heading="Metadata">
                            <div class="form-group">
                                <textarea rows="3" class="form-control" placeholder="Lyrics"></textarea>
                            </div>
                        </tab>
                        <tab heading="Permissions">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Enable downloads
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Enable comments
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Only visible to me
                                </label>
                            </div>
                        </tab>
                    </tabset>
                    <div class="clearfix">
                        <button type="submit" [disabled]="!songForm.valid" class="btn btn-primary pull-right">Save</button>
                    </div>
                </form>
            </div>





        </div>
    </div>
</div>