<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--<alert type="success">Welcome To Kasivibe! Share, comment and rate music.</alert>-->
            <h3 class="text-center">Upload Song</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <br>
            <br>
            <div class="drop-zone"
                 (click)="nativeUploadInput.click()"
                 ngFileDrop
                 (uploadOutput)="onUploadOutput($event)"
                 [uploadInput]="uploadInput"
                 [ngClass]="{ 'is-drop-over': dragOver }">
                <div class="placeholder">Drag & Drop or Select audio file</div>
            </div>
            <input style="display: none" #nativeUploadInput type="file" ngFileSelect
                   (uploadOutput)="onUploadOutput($event)"
                   [uploadInput]="uploadInput">


            <div *ngIf="files?.length" class="progress-container">
                <div>
                    Upload progress: <span class="filename">{{ files[0].name }}</span>
                    <span class="progress-data">{{ files[0].progress.data.percentage }}% at {{ files[0].progress.data.speedHuman }} eta {{ files[0].progress.data.eta }}</span>
                </div>
                <div class="progress" style="margin-top: 5px">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': files[0].progress.data.percentage + '%' }"></div>
                </div>
            </div>




        </div>
    </div>
</div>