label {
    display: block;
}
.drop-zone {
    padding: 10px;
    cursor: pointer;
    border: 3px dashed #444444;
}

.drop-zone.is-drop-over, .drop-zone:hover {
    background: #222222;
    border: 3px solid #444444;
}

.placeholder {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #fafafa;
}


.progress-container {
    margin: 20px 0;
}