<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!--<alert type="success">Welcome To Kasivibe! Share, comment and rate music.</alert>-->
            <h3 class="text-center">Upload Song</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <br><br>


            <div class="drop-zone"
                 ngFileDrop
                 (uploadOutput)="onUploadOutput($event)"
                 [uploadInput]="uploadInput"
                 [ngClass]="{ 'is-drop-over': dragOver }">
                <div class="placeholder">Drag & Drop or Select audio file</div>
            </div>

            <div class="progress-container">
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>

            <form [formGroup]="musicForm" (ngSubmit)="onSubmit()" novalidate>



            </form>


        </div>
    </div>
</div>