<div [ngBusy]="loading" class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h3>All songs</h3><br>

            <ul *ngIf="songs" class="list-group">

                <li *ngFor="let song of songs" [ngClass]="{'kv-active':activeSongId === song.id}" class="list-group-item">

                    <app-song-item [song]="song" (onSetActiveSongId)="setActiveSongId($event)"></app-song-item>

                </li>

            </ul>

        </div>
    </div>
</div>

