<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h3 class="text-center">Profile Settings</h3><br>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form *ngIf="user" (ngSubmit)="saveUser()" #editUserProfileForm="ngForm">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" [value]="user.username" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input name="email" [(ngModel)]="user.email" type="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Phone numbers</label>
                    <input name="phone_number" [(ngModel)]="user.phone_number" type="text" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" #artist_info>
                        Edit Artist Info
                    </label>
                </div>
                <div *ngIf="artist_info.checked" class="form-group">
                    <label>Artist Name</label>
                    <input name="artist_name" [(ngModel)]="user.artist_name" type="text" class="form-control" required>
                </div>
                <button type="submit" [disabled]="!editUserProfileForm.valid || savingProfile" class="btn btn-success">
                    <i *ngIf="savingProfile" class="fa fa-spinner fa-pulse fa-fw"></i> Save
                </button>
            </form>
        </div>
    </div>
</div>

<app-notification-toast></app-notification-toast>