<div [ngBusy]="loading" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Edit Song</h3>

            <form *ngIf="song" (ngSubmit)="onSongSave()" #songEditForm="ngForm" autocomplete="off">
                <div class="form-group required">
                    <label for="song_name" class="control-label">Title</label>
                    <input type="text" id="song_name" class="form-control" name="name" [(ngModel)]="song.name" required>
                </div>
                <div class="form-group required">
                    <label for="song_genre" class="control-label">Genre</label>
                    <select id="song_genre" class="form-control" name="genre_id" [(ngModel)]="song.genre_id" required>
                        <option *ngFor="let genre of genres" [ngValue]="genre.id">{{ genre.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="song_name" class="control-label">Upload Audio File</label>
                    <input #fileInput type="file" accept=".mp3,.wav,.ogg" name="file">
                    <!--<p class="help-block text-muted">Only mp3, wav and ogg file formats are allowed.</p>-->
                </div>
                <div class="form-group">
                    <label for="song_lyrics">Lyrics</label>
                    <textarea id="song_lyrics" rows="10" class="form-control" name="lyrics"
                              [(ngModel)]="song.lyrics"></textarea>
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!songEditForm.valid">Save
                </button>
            </form>
        </div>
    </div>
</div>