<nav id="mobile-menu" class="visible-xs" [ngClass]="{'active': left_mobile_menu_visible}">
    <div class="header">
        <div class="pull-right">
            <div (click)="mobileMenu(false)" class="btn-close-menu js-nav-main">CLOSE</div>
        </div>
    </div>
    <ul (click)="mobileMenu(false);" class="list-unstyled">
        <li *ngIf="!is_logged_in"><a (click)="showSignInModal()"><i class="fa fa-sign-in"></i> <span>Login</span></a></li>
        <li *ngIf="is_logged_in"><a (click)="OnLogout()"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
        <li *ngIf="!is_logged_in"><a (click)="showSignUpModal()"><i class="fa fa-pencil-square-o"></i> <span>Sign Up</span></a></li>

        <li><a routerLink="/"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li><a routerLink="/songs"><i class="fa fa-music"></i> <span>All Songs</span></a></li>
        <li><a routerLink="/albums"><i class="fa fa-play-circle"></i> <span>Albums</span></a></li>
        <li><a routerLink="/artists"><i class="fa fa-microphone"></i> <span>Artists</span></a></li>
        <li class="bg-success"><a routerLink="/songs/create"><i class="fa fa-cloud-upload"></i> <span>Upload Song</span></a></li>
    </ul>
</nav>
<div class="visible-xs">
    <div (click)=" mobileMenu(false); mobileSearch(false)" id="mobile-overlay" [ngClass]="{'active': mobile_search_visible || left_mobile_menu_visible}">
</div>
    <!--<div class="spinner"></div>-->
</div>

<div id="main-page">
    <div id="main-header">
        <app-header></app-header>
    </div>
    <div id="main-body">
        <div id="main-col-1">
            <div slimScroll [options]="opts" style="height: inherit;">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="hidden-xs" id="main-col-2">
            <div slimScroll [options]="opts" style="max-height: calc(100vh - 115px);">
                <left-sidebar></left-sidebar>
            </div>
        </div>
        <div class="hidden-xs" [hidden]="!right_sidebar_visible" id="main-col-3">
            <div slimScroll [options]="opts" style="max-height: calc(100vh - 115px);">
                <right-sidebar></right-sidebar>
            </div>
        </div>
    </div>
    <div id="main-footer">
        <app-footer></app-footer>
    </div>
</div>

<app-signup></app-signup>
<app-signin></app-signin>