<div id="audio-container">
    <div id="audio-col-1">
        <div class="audio-album-cover hidden-xs">
            <img *ngIf="song?.album.image" style="width: 64px;height: 64px;"
                 src="{{song?.album.image}}" alt="{{song?.name}}">
        </div>
        <div class="audio-player">
            <div class="seek-container">
                <input #seekControler id="seek" type="range" min="0" max="100" step="0.01" [(value)]="audio_seek_value"
                       (change)="setSeek(seekControler.value)"
                       (input)="setSeek(seekControler.value)">
                <div class="web-footer-loader">
                    <div *ngIf="isLoading()" class="progress-bar progress-bar-striped active" style="width: 100%"></div>
                </div>
                <div class="web-footer-progress-indicator" [ngStyle]="{'width': audio_buffered_value+'%'}"></div>
                <div class="web-footer-progress" [ngStyle]="{'width': audio_progress_played+'%'}"></div>
            </div>
            <div *ngIf="song?.user" class="audio-info">
                <p class="audio-title strong"><strong>{{ song?.name }}</strong></p>
                <p *ngIf="song?.user.artist_name" class="audio-meta text-muted text-small">
                    <em>By {{ song?.user.artist_name }}</em>
                </p>
                <p *ngIf="!song?.user.artist_name" class="audio-meta text-muted text-small">
                    <em>Uploaded by {{ song?.user.username }}</em>
                </p>
            </div>
            <div *ngIf="!song" class="audio-info">
                <p>No song selected</p>
            </div>
        </div>

    </div>
    <div id="audio-col-2" class="audio-controls">
        <span id="play-button-wrapper">
            <app-play-button [ngClass]="{'hidden': !song?.id}" [song]="song"></app-play-button>
        </span>
    </div>
    <div id="audio-col-3">
        <ul class="list-inline list-unstyled audio-controls">
            <li class=""><span id="current_time">{{ audio_progress_time }}</span></li>
            <li class="" tooltip="Like this song.">
                <span (click)="likeSong(song?.id)" class="kv-like-btn hidden-xs" [ngClass]="{'liked':song?.is_liked}">
                    <i class="fa fa-thumbs-up"></i>
                </span>
            </li>
            <li [ngClass]="info_panel_visible?'active':''" class="control hidden-xs" id="info-panel-trigger"
                (click)="toggleInfoPanel()"><span>INFO</span></li>
            <li [ngClass]="repeatMode" class="control hidden-xs" id="repeat-btn"
                (click)="toggleRepeatMode()"><span><i class="fa fa-repeat"></i></span></li>
            <li class="control hidden-xs" id="mute-btn">
                <span (click)="toggleMute()">
                    <i class="fa" [ngClass]="!muted?'fa-volume-up':'fa-volume-off'"></i>
                </span>
                <input #volumeControler type="range" min="0" max="100" step="1" class="plyr__volume"
                       (change)="setVolume(volumeControler.value)"
                       (input)="setVolume(volumeControler.value)"
                       [(value)]="audio_volume_value">
            </li>
        </ul>


    </div>
</div>