<!--<img src="http://flatfull.com/themes/musik/images/m43.jpg"  class="img-cover-bg">-->
<div [ngBusy]="loading" style="height: 100%">
    <div *ngIf="artist" id="profile-body" style="height: 100%">


        <div *ngIf="artist" class="row full-header">
            <section class="profile-header">
                <div class="col-md-8 col-md-offset-2 profile-header-inner">
                    <div class="row">
                        <div class="col-md-4 pull-right header-sidebar">
                            <img class="album-art img-responsive img-rounded" src="{{ artist.avatar }}">
                        </div>

                        <div class="col-md-8 header-content">
                            <div class="profile-details">
                                <h1>{{ artist.artist_name }}</h1>
                            </div>
                            <ul class="list-inline hidden-xs">
                                <li><i class="icon-earphones"></i> 201 Songs</li>
                                <li><i class="icon-picture"></i> 21 Albums</li>
                            </ul>
                        </div>
                    </div>

                    <footer class="header-actions hidden-xs">
                        <ul class="list-inline">
                            <!--<li>
                                <button (click)="followUser()" class="btn btn-sm btn-inverse">
                                <span *ngIf="!user.is_following">
                                    <i class="icon-follow"></i> <span>Follow</span>
                                    <span class="visible-xs-inline-block follow_count"> {{ user.follow_count }}</span>
                                </span>
                                    <span *ngIf="song.is_following">Unfollow</span>
                                </button>
                            </li>-->
                            <li>
                                <button (click)="showShareModal()" class="btn btn-sm btn-inverse">
                                    <i class="icon-share-alt"></i> <span>Share Profile</span>
                                </button>
                            </li>
                        </ul>
                    </footer>


                </div>
                <div class="profile-header-blur" [ngStyle]="{'background-image': 'url(' +artist.avatar+ ')'}"></div>
            </section>
        </div>

        <div class="container">

            <div class="row visible-xs">
                <div class="col-md-12">
                    <footer class="below-header-actions bottom-border m-b-lg">
                        <ul class="list-inline">
                            <li>
                                <button (click)="showShareModal()" class="btn btn-sm btn-inverse">
                                    <i class="icon-share-alt"></i> <span>Share Profile</span>
                                </button>
                            </li>
                        </ul>
                    </footer>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 m-t-lg">
                    <tabset #artist_tabs class="tabs-lg">
                        <tab heading="Albums">

                            <div *ngIf="artist.albums" class="kv-wrapper">
                                <div *ngFor="let album of artist.albums; let i = index" class="col-md-3">

                                    <app-album-item-grid [album]="album" [owner]="artist"></app-album-item-grid>

                                </div>
                            </div>

                        </tab>


                        <tab heading="All songs">
                            <div class="wrapper">
                                <ul *ngIf="artist.songs" class="list-group">

                                    <li *ngFor="let song of artist.songs; let i = index" class="list-group-item">

                                        <app-song-item [song]="song"></app-song-item>

                                    </li>

                                </ul>
                            </div>
                        </tab>

                    </tabset>
                </div>
            </div>

        </div>
    </div>
</div>