<div [ngBusy]="loading">
    <div *ngIf="album">
        <div [ngStyle]="{'background-image': 'url('+ album.image +')'}" class="img-cover-bg"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3">{{ album.name }}</h1><br>

                    <ul *ngIf="album.songs" class="list-group">

                        <li *ngFor="let song of album.songs; let i = index" class="list-group-item">
                            <app-song-item [song]="song"></app-song-item>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
