<div [ngBusy]="loading" class="container-fluid">
    <div *ngIf="song" class="row full-header">
        <section class="profile-header">
            <div class="col-md-8 col-md-offset-2 profile-header-inner">
                <div class="row">
                    <div class="col-md-4 pull-right header-sidebar">
                        <img class="album-art img-responsive"
                             src="https://thumbnailer.mixcloud.com/unsafe/300x300/extaudio/b/d/c/a/abd5-4f27-49bf-91b7-189570551bbb">
                    </div>

                    <div class="col-md-8 header-content">
                        <div class="play-button-wrap">
                            <span [ngClass]="{'loading-state': loading_song, 'pause-state': !loading_song && isPlaying}"
                                  class="play-button play-button-cloudcast">
                                <span (click)="playSong()" class="play-icon"><i class="icon-control-play"></i></span>
                                <span (click)="pauseSong()" class="pause-icon"><i class="icon-control-pause"></i></span>
                                <span class="loading-icon"><i class="icon-refresh fa fa-spin"></i></span>
                            </span>
                        </div>
                        <div class="profile-details">
                            <h1>{{ song.name }}</h1>
                            <h6>
                                <em>By {{ song?.user.artist_name }}</em>
                                <!--<button class="btn btn-xs btn-default">
                                    <span class="hidden"><i class="icon-user-following"></i> Following</span>
                                    <span><i class="icon-user-follow"></i> Follow</span>
                                </button>-->
                            </h6>
                        </div>
                        <ul class="list-inline hidden-xs">
                            <li><i class="icon-like"></i> {{ song.likes_count }}</li>
                            <li><i class="icon-earphones"></i> {{ song.plays_count }}</li>
                            <li *ngIf="song.downloadable"><i class="icon-cloud-download"></i> {{ song.downloads_count }}</li>
                            <li><i class="icon-cloud-upload"></i> {{ song.created_at_ago }}</li>
                        </ul>
                    </div>
                </div>

                <footer class="header-actions hidden-xs">
                    <ul class="list-inline">
                        <li>
                            <button (click)="likeSong()" class="btn btn-sm btn-inverse">
                                <span *ngIf="!song.is_liked">
                                    <i class="icon-like"></i> <span>Like</span>
                                    <span class="visible-xs-inline-block likes_count"> {{ song.likes_count }}</span>
                                </span>
                                <span *ngIf="song.is_liked">Unlike</span>
                            </button>
                        </li>
                        <!--<li>
                            <a href="" class="btn btn-sm btn-inverse"><i class="icon-bubble"></i>
                                <span>Comment</span></a>
                        </li>-->
                        <li>
                            <button (click)="showShareModal()" class="btn btn-sm btn-inverse"><i class="icon-share-alt"></i> <span>Share</span>
                            </button>
                        </li>
                        <li *ngIf="song.downloadable" >
                            <a href="{{ song.download_link }}" class="btn btn-sm btn-primary">
                                <i class="icon-cloud-download"></i>
                                <span>Download</span>
                            </a>
                        </li>
                    </ul>
                </footer>


            </div>
            <div class="profile-header-blur"
                 style="background-image: url('https://thumbnailer.mixcloud.com/unsafe/500x250/filters:blur(40)/extaudio/b/d/c/a/abd5-4f27-49bf-91b7-189570551bbb');"></div>
        </section>
    </div>

    <section *ngIf="song" class="content-wrapper">
        <div class="row visible-xs">
            <div class="col-md-12">
                <footer class="below-header-actions m-b-md">
                    <ul class="list-inline">
                        <li class="pull-right">
                            <button (click)="likeSong()" class="btn btn-sm btn-inverse">
                                <span *ngIf="!song.is_liked">
                                    <i class="icon-like"></i> <span>Like</span>
                                    <span class="visible-xs-inline-block likes_count"> {{ song.likes_count }}</span>
                                </span>
                                <span *ngIf="song.is_liked">Unlike</span>
                            </button>
                        </li>
                        <!--<li>
                            <a href="" class="btn btn-sm btn-inverse"><i class="icon-bubble"></i>
                                <span>Comment</span></a>
                        </li>-->
                        <li>
                            <button (click)="showShareModal()" class="btn btn-sm btn-inverse"><i class="icon-share-alt"></i> <span>Share</span>
                            </button>
                        </li>
                    </ul>
                    <a *ngIf="song.downloadable" href="{{ song.download_link }}" class="btn btn-block btn-primary">
                        <i class="icon-cloud-download"></i>
                        <span>Download</span>
                    </a>
                </footer>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-offset-2">
                <div class="row">

                    <div class="col-md-8">
                        <div class="lyrics-container">
                            <h2 class="h4 bottom-border">Lyrics</h2>
                            <div class="lyrics-content kv-text-wrap">
                                {{ song.lyrics }}
                            </div>
                        </div>

                        <div class="comments-container">
                            <h2 class="h4 bottom-border">Comments</h2>
                            <div class="add-comment comment-wrapper">
                                <div class="comment-avatar" *ngIf="loggedIn()">
                                    <img class="img-rounded" width="50" height="50" *ngIf="user" src="{{ user.avatar }}"
                                         alt="">
                                </div>
                                <div class="comment-content">
                                    <div class="form-group">
                                    <textarea [(ngModel)]="commentBody" class="form-control"
                                              placeholder='What do you think of {{ song.name }} ?'></textarea>
                                    </div>
                                    <div class="comment-actions pull-right">
                                        <button (click)="onComment()" type="submit" class="btn btn-success">Comment
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="unseen-comments text-center">
                                <span *ngIf="unseenComments!==1">{{ unseenCommentsCount }} new comments.
                                <a href="#">Show comments</a></span>
                            </div>-->
                            <app-comments #comments
                                          [parent]="song">
                            </app-comments>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <!--<h2 class="h4">Liked by</h2>-->
                    </div>


                </div>
            </div>
        </div>
    </section>


</div>