<div class="side-nav showing">
    <br>
    <section>
        <h2 class="h5">Kasi music</h2>
        <ul class="list-unstyled side-menu">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i
                    class="icon-home text-info"></i> Home</a></li>
            <li><a routerLink="/songs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i
                    class="icon-earphones text-warning"></i>
                Songs</a>
            </li>
            <li><a routerLink="/albums" routerLinkActive="active"><i class="icon-picture text-primary"></i> Albums</a>
            </li>
            <li><a routerLink="/artists" routerLinkActive="active"><i class="icon-microphone text-danger"></i>
                Artists</a>
            <!--</li>
            <li><a routerLink="/genres" routerLinkActive="active"><i class="fa fa-music text-success"></i> Genres</a>
            </li>-->
        </ul>
    </section>
    <!--<br>
    <section>
        <h2 class="h5">My Playlists</h2>
        <ul class="list-unstyled side-menu">
            <li><a routerLink="/"><i class="fa fa-list"></i> Raindrops</a></li>
            <li><a routerLink="/"><i class="fa fa-list"></i> Resurrection</a></li>
            <li><a routerLink="/"><i class="fa fa-list"></i> Morning, waking up</a></li>
            <li><a routerLink="/"><i class="fa fa-list"></i> Guilty pleasures</a></li>
        </ul>
    </section>-->
    <br>
    <section>
        <h2 class="h5">My Ground</h2>
        <ul class="list-unstyled side-menu">
            <li><a routerLink="/songs/create" routerLinkActive="active"><i class="icon-cloud-upload text-success"></i>
                Upload Song</a></li>
            <li><a routerLink="/album/create" routerLinkActive="active"><i class="icon-plus text-success"></i>
                Create Album</a></li>
            <li><a routerLink="/my-songs" routerLinkActive="active"><i class="icon-earphones text-warning"></i>
                My Songs</a>
            </li>
            <li><a routerLink="/my-albums" routerLinkActive="active"><i class="icon-picture text-primary"></i>
                My Albums</a>
            </li>
        </ul>
    </section>

    <section class="kv-credits">

        <div class="copyright">Kasivibe &copy; 2017</div>

    </section>
</div>
