<div class="side-nav showing">
    <br>
    <section>
        <h2 class="h5">Kasi music</h2>
        <ul class="list-unstyled side-menu">
            <li><a routerLink="/"><i class="fa fa-home text-info"></i> Home</a></li>
            <li><a routerLink="/songs" routerLinkActive="active"><i class="fa fa-headphones text-warning"></i>
                All songs</a>
            </li>
            <li><a routerLink="/albums" routerLinkActive="active"><i class="fa fa-play-circle text-primary"></i> Albums</a>
            </li>
            <li><a routerLink="/artists" routerLinkActive="active"><i class="fa fa-microphone text-danger"></i> &nbsp;Artists</a>
            <!--</li>
            <li><a routerLink="/genres" routerLinkActive="active"><i class="fa fa-music text-success"></i> Genres</a>
            </li>-->
        </ul>
    </section>
    <!--<br>
    <section>
        <h2 class="h5">My Playlists</h2>
        <ul class="list-unstyled side-menu">
            <li><a routerLink="/"><i class="fa fa-list"></i> Raindrops</a></li>
            <li><a routerLink="/"><i class="fa fa-list"></i> Resurrection</a></li>
            <li><a routerLink="/"><i class="fa fa-list"></i> Morning, waking up</a></li>
            <li><a routerLink="/"><i class="fa fa-list"></i> Guilty pleasures</a></li>
        </ul>
    </section>-->
    <br>
    <section>
        <h2 class="h5">My Uploads</h2>
        <ul class="list-unstyled side-menu">
            <li><a routerLink="/songs/create" routerLinkActive="active"><i class="fa fa-plus-circle text-success"></i>
                Upload Song</a></li>
        </ul>
    </section>

    <section class="kv-credits">

        <div class="copyright">Kasivibe &copy; 2017</div>

    </section>
</div>
