.side-nav section h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 15px;
    margin-bottom: 12px;
    font-size: 14px;
}

.side-nav section ul.side-menu li {

}

.side-nav section ul.side-menu li a {
    padding: 15px;
    border-bottom: 1px solid #282828;
    display: block;
    color: #cccccc;
}

.side-nav section ul.side-menu li a:hover, .side-nav section ul.side-menu li a.active {
    color: #ffffff;
    background: #2b2b2b;
    text-decoration: none;
}

.side-nav section ul.side-menu li a.active {
    border-left: 2px solid #888;
}

.side-nav section ul.side-menu li a i {
    margin-right: 12px;
    font-size: 15px;
}

.kv-credits {
    padding: 4px 5px 5px;
    border: 1px solid #444444;
    color: #666666;
    margin: 40px 15px 15px;
    font-size: 10px;
    text-align: center;
}
