<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center m-t-lg" *ngIf="authService.loggedIn()">Welcome, {{ user?.username }}</h3>
            <h4 class="text-center m-t-lg" *ngIf="!authService.loggedIn()">Welcome!</h4>
            <p class="text-center">Join your friends & listen to the best local music.</p>

            <div class="text-center m-t-md">
                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-md" routerLink="songs"><i class="fa fa-play"></i> Start listening</a>
                    <a class="btn btn-success btn-md" routerLink="songs/create"><i class="fa fa-cloud-upload"></i>
                        Upload Song</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="trendingSongs || loadingTrendingSongs" class="row trending-songs m-t-lg">
        <div class="col-md-6 col-md-offset-3">
            <div *ngIf="loadingTrendingSongs" class="text-center">
                <i class="fa fa-spinner fa-pulse fa-fw"></i> Getting trending songs...
            </div>
            <div *ngIf="trendingSongs">
                <h2 class="h4 text-center"><i class="icon-chart text-muted"></i> Trending Songs</h2>
                <ul class="list-group">
                    <li *ngFor="let song of trendingSongs; index as i; even as isEven; odd as isOdd; first as isFirst; last as isLast;" [ngClass]="{'kv-active':activeSongId === song.id}"
                        class="list-group-item">

                        <div style="display: flex">
                            <div style="width: 20px; line-height: 60px; font-size: 120%;"><strong>{{ i+1 }}</strong></div>
                            <div style="flex: 1">
                                <app-song-item [song]="song" (onSetActiveSongId)="setActiveSongId($event)"></app-song-item>
                            </div>
                        </div>

                    </li>
                </ul>
                <a class="btn btn-default btn-block" routerLink="songs">See More</a>
            </div>
        </div>
    </div>
</div>